<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Hola mundo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <h1>Hola mundo</h1>
  <h2>Holas</h2>
  <h2>holas</h2>
  
</ion-content>
